body{
  background: url("../assets/interior1.png");
  background-repeat: no-repeat;
}
h1{
  color: red;
}
img{
  position: relative;
  left: 325px;
  top:150px;
}
.door{
  opacity: 0;
  position:relative;
  width:70px;
  height: 120px;
  left:350px;
  top:115px;
}
.door2{
  opacity: 100;
  position:absolute;
  width:70px;
  height: 320px;
  left:720px;
  top:100px;
}
.door:hover{
  opacity:100;
  border: 2px solid blue;
}
.door2:hover{
  opacity: 100;
  border: 2px solid red;
}
