body{
  background: url("../assets/kitchen.jpg");
  background-repeat:no-repeat;
}
h1{
  position: absolute;
  top: 10px;
}
img{
  position: absolute;
  left: 450px;
  top:290px;
}
.speech{
  position: absolute;
  background-color: white;
  left:450px;
  top:450px;
}
