* {
	font-family: 'Arial', sans-serif;
        font-size: 20px;
}


body{
    border: 0.6px solid grey;
    margin:50px;
    width:900px;
    height: 300px;
    box-shadow: 5px 5px lightgrey;
    background-image: url('BH6.jpg');
    background-size: 1730px 1350px;
    background-repeat: no-repeat;
    text-align: center;
}

h1{
    font-size: 50px;
    font-style: oblique;
    font-weight: 600;
    text-shadow: grey;
}
left-float{
    float:left;
}

/*Next button*/
button{
    background-color: lightsteelblue;
    border: whitesmoke;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 0.5s;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}


/*******IDS****/
.alert{
    text-align: center;
}

.container {
text-align: center;
}


/*Required fields*/
.error{
	display: none;
	margin-left: 10px;
}

.prompt {
	display: block;
	font-size: 20px;
}

/* RESULTS */
.results {
	margin-bottom: 40px;
	margin-top: 40px;

}

